<div id="menu">
	<table id="menu_table" style="width:100%;">
		<colgroup>
			<col style="width:33%"/>
			<col style="width:33%"/>
			<col style="width:33%"/>
		</colgroup>
		<tr>
			<td >
				<h2 style="width:50%;">
					<span>Game Code: </span><br/>
					<span id="game_code"></span>
				</h2>
			</td>
			<td>
				<h1 id="game_name">DEMO</h1>
			</td>
			<td style="text-align:right;padding-right:5%;">
				<h4>
					<button id="toggleHelpTextButton" style="background-color:red; color:white;" class="hidden button_mash" onclick="toggleHowToSections()">
						Toggle Help Text
					</button>
					<button id="finalJeopardyButton" class="hidden button_mash" onclick="onShowFinalJeopardy()">
						Final Jeopardy
					</button>
					<button id="endGameButton" class="hidden button_mash" onclick="onEndGame()">
						END GAME
					</button>
				</h4>
			</td>
		</tr>
	</table>
</div>
<br style="clear:both;"/>
