<div id="teams_section">
	<div id="current_turn_section" class="hidden pre_team_block">
		
		<h2 id="current_turn_label">Current Turn:</h2>
		<p class=" how_to_play_section hidden instruction center_section_50">
			This section shows which player gets to pick a question from the board.<br/>
		</p>
		<h2>
			<span id="current_turn" class="pre_team_block_value" ></span>
		</h2>
	</div>

	<div id="highest_score_wager" class="hidden pre_team_block">
		<h2>Highest Wager:</h2>
		<h2>
			<span class="pre_team_block_value" id="highest_score_value"></span>
		</h2>
	</div>
	<hr/>
	<div id="teams_sync_section" class="hidden">
		<span class="how_to_play_section hidden">Click this to sync the teams, so they appear below.</span>
		<div style="width:40%;">
			<h3 style="display:inline-block;">
				<span class="fa fa-refresh teams_icons" onclick="onSyncTeams()" style="color:white;text-decoration:none;">Sync Teams</span>
				&nbsp;
				<span id="team-sync" style="color:limegreen;display:none;">Teams Synced!</span>
			</h3>
		</div>
	</div>
	<table id="teams_table" class="hidden">
		<colgroup>
			<col style="width:50%">
		</colgroup>
		<thead>
			<tr class="how_to_play_section hidden">
				<td colspan="3">
					<p>
						This section shows the list of teams &amp; their scores. It will also show their wager value after Final Jeopardy.
					</p>
				</td>
			</tr>
			<tr>
				<th><h1>Team Name</h1></th>
				<th><h1>Score</h1></th>
				<th><h1 class="wager_row hidden">Wager</h1></th>
			</tr>
		</thead>
		<tbody id="teams_block"></tbody>
	</table>

</div>
