<div id="time_view">
	
	<p class="how_to_play_section hidden">
		This is the timer for answering the question.<br/>
		You can also start it using the CONTROL key on your keyboard.
	</p>
	<div id="time_view_regular">
		<span id="timer_minute" class="timer_value">00:</span>
		<span id="timer_second" class="timer_value" contenteditable="true">20</span>
		<span>&nbsp;</span>
		<span onclick="Timer.startTimer()" id="timer_start" class="timer_buttons fa fa-play" style="font-size:45px;"></span>
		<span onclick="Timer.stopTimer()" id="timer_stop" class="timer_buttons fa fa-pause" style="display:none; font-size:45px;"></span>
		<span onclick="Timer.resetTimer()" id="timer_reset" class="timer_buttons fa fa-refresh" style="display:none; font-size:45px;"></span>
	</div>
	<audio id="time_up_sound">
			<source src="../assets/audio/time_up.mp3" type="audio/mpeg">
		</audio>
	<audio id="final_jeopardy_audio" class="hidden" controls>
		<source src="../assets/audio/final_jeopardy.mp3" type="audio/mpeg">
	</audio>
</div>
